@import "../variable";
#page-home {
  .block-title {
    font-size: 6rem;
    padding-bottom: 4rem;
    color: @black-color;
    text-align: center;
  }

  .top-gallery-wrap {
    background-color: @black-color;
    padding: 10rem 0 2rem;
    color: @white-color-gray;
    width: 100%;
    .swiper-container {
      .gallery-text {
        width: 40%;
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
      }
      .introduce-text {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .top-title {
        font-size: 2.4rem;
        font-weight: bold;
        margin: 1rem 0 2.4rem;
      }
      .summary-des {
        margin-bottom: 2rem;
      }
      .pic-wrap {
        width: 100%;
        text-align: right;
        img {
          width: 60%;
          margin: 2rem 0;
          display: inline-block;
        }
        .clip-top-left {
          clip-path: polygon(20rem 10rem, 80rem 0, 80rem 40rem, 0px 40rem);
        }
        .clip-top-right {
          clip-path: polygon(0 0, 60rem 10rem, 80rem 40rem, 0px 40rem);
        }
        .clip-bottom-right {
          clip-path: polygon(0 0, 80rem 0, 60rem 30rem, 0px 40rem);
        }
        .clip-bottom-left {
          clip-path: polygon(0 0, 80rem 0, 80rem 40rem, 20rem 30rem);
        }
      }

    }
  }
  .area-gallery-wrap {
    background-color: @white-color;
    padding: 2rem 0;
    color: @white-color-gray;
    width: 100%;
    margin-bottom: 2rem;
    .content-inner-wrap {
      max-width: inherit;
    }
    .swiper-container-area {
      .swiper-slide {
        a {
          display: block;
          width: 100%;
          .pic-wrap {
            display: inline-block;
            position: relative;
          }
          .area-des {
            font-size: 2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-90deg);
            width: 100%;
            text-align: center;
            text-shadow: 0px 0px 6px rgb(0 0 0 / 45%);
          }
          img {
            min-width: 400px;
          }
        }
      }
    }
  }
  .news-content-wrap {
    background-color: @white-color-gray;
    padding: 2rem 0;
    width: 100%;
    margin-bottom: 2rem;
    .news-block-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .news-block {
        width: 30%;
        padding-bottom: 4rem;
      }
      .news-img {
        width: 100%;
        margin-bottom: 1rem;
      }
      .news-title {
        height: 5rem;
        overflow: hidden;
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }
      .news-summary {
        height: 3.6rem;
        overflow: hidden;
        margin-bottom: 2rem;
      }
    }
  }
}
