@import "./variable";
@import "./polygon";
@import "./polygon-area";
.app-wrap {
  width: 100%;
  height: 100%;
}

.content-wrap {
  width: 100%;
  margin-bottom: 2rem;
  overflow: hidden;
}
.content-inner-wrap {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}
.page-in-frame {
  height: 100%;
  overflow: auto;
}

.page-card {
  margin: .28rem;
  padding: .28rem;;
  background: @white-color;
}

.card-title {
  font-size: .32rem;
}

.layout-inline-block {
  display: inline-block;
  vertical-align: top;
}

.btn-normal {
  background: @blue-color;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  color: @white-color;
}

.disabled-btn {
  filter: alpha(opacity=45);
  -moz-opacity: 0.45;
  -khtml-opacity: 0.45;
  opacity: 0.45;
  &:hover {
    cursor: default;
  }
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}




.swiper-container {
  .swiper-slide {
    padding: 0 4px;
  }

  .swiper-pagination {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    display: inline-block;
    width: auto;

    .swiper-pagination-bullet {
      background-color: @gray-color-light;
    }

    .swiper-pagination-bullet-active {
      background-color: @white-color-gray;
    }
  }
}
